body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: burlywood;
}

a {
  color: #00B7FF;
}

.menulinks img {
  height: 30px;
}

#navbar {
  background-color: lightgray;
  display: flex;
  justify-content: flex-end;
  padding: 10px 5px 10px 5px;
}

.menulinks {
  margin: 0px 10px 0px 10px;
}

.homeTitle {
  display: flex;
  justify-content: center;
}

#postBtnSection {
  display: flex;
  justify-content: center;
}

#createPostBtn {
  background-color: aquamarine;
  border-radius: 500px;
  height: 40px;
}

#postBody {
  height: 200px;
  width: 800px;
}

#editPostBtn {
  background-color: cornflowerblue;
  border-radius: 500px;
  height: 40px;
}

#updateBtn {
  background-color: cadetblue;
  border-radius: 500px;
  height: 40px;
}


