body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: burlywood;
}

a {
  color: #00B7FF;
}

.menulinks img {
  height: 30px;
}

#navbar {
  background-color: lightgray;
  display: flex;
  justify-content: flex-end;
  padding: 10px 5px 10px 5px;
}

.menulinks {
  margin: 0px 10px 0px 10px;
}

.homeTitle {
  display: flex;
  justify-content: center;
}

#postBtnSection {
  display: flex;
  justify-content: center;
}

#createPostBtn {
  background-color: aquamarine;
  border-radius: 500px;
  height: 80px;
  width: 400px;
  font-size: 24px;
}

#postBody {
  height: 200px;
  width: 800px;
}

#editPostBtn {
  background-color: cornflowerblue;
  border-radius: 500px;
  height: 40px;
}

#updateBtn {
  background-color: cadetblue;
  border-radius: 500px;
  height: 40px;
}

.postTagInput {
  width: 300px;
  height: 40px;
  font-size: 15px;
  border-radius: 10px;
}

#deletePostBtn {
  height: 40px;
  width: 80px;
}

#publishBtn {
  background-color: rgb(0, 255, 42);
  border-radius: 500px;
  height: 40px;
}

#postBody {
  background-color: rgb(230, 248, 255);
  padding: 30px;
  border-radius: 20px;
  height: auto;
  width: 1000px;
}

#centerPostBody {
  display: flex;
  justify-content: center;
}

#commentAvatar {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}