body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.menulinks img {
  height: 30px;
}

#navbar {
  background-color: lightgray;
  display: flex;
  justify-content: flex-end;
}

.menulinks {
  margin: 0px 10px 0px 10px;
}

.homeTitle {
  display: flex;
  justify-content: center;
}