<%- include('../partials/header') %>

<h2>Welcome to Programmer's Protégé!</h2>
<br>
<h4>Thanks for stopping by, friends! Let's teach other something new today!</h4>



<%- include('../partials/footer') %>