<%- include('../partials/header') %>
<br>
<h2 class="homeTitle">Welcome to Programmer's Protégé!</h2>
<br>
<h4 class="homeTitle">Thanks for stopping by, friends! Let's teach other something new today!</h4>



<%- include('../partials/footer') %>